.button__wrap {
  display: flex;
  justify-content: center;
  margin: 14px 0 14px 0;
}

.button {
  width: 73px;
  height: 32px;
  border: 1px solid #999;
  box-sizing: border-box;
  border-radius: 37px;
  outline: none;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #356eff;
  margin-right: 8px;
}

.button:hover {
  color: #fff;
  background: #356eff;
}
