.todo {
  position: absolute;
  max-width: 700px;
  width: 100%;
  height: 644px;
  margin: auto;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

.wrap_todo {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

.todo_header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5%;
}

.title {
  font: normal bold 28px Roboto, sans-serif;
  margin: 0;
}

.item_list {
  overflow-y: auto;
  height: 432px;
  width: 100%;
}

.item_list::-webkit-scrollbar {
  width: 6px;
}

.item_list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

.done {
  color: #c4c4c4;
  text-decoration: line-through;
}

.task {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 41px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px 8px 10px;
}

.task:hover {
  border: 1px solid #356eff;
}

.text {
  cursor: pointer;
  font: normal normal 14px/16px Roboto, sans-serif;
  margin-left: 10px;
}

.button__img {
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: url("../img/error.svg") 50% 50% no-repeat;
  background-size: 100%;
}

.button__img:hover {
  background: url("../img/Vector.svg") 50% 50% no-repeat;
  background-size: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.error_image {
  background: url(../img/todo.png) no-repeat;
  margin: 120px 0 24px 0;
  height: 164px;
  width: 267px;
}

.error_message {
  font: normal normal 18px/21px "Roboto", sans-serif;
  margin: 0 0 8px 0;
}

.message_fix {
  margin: 0;
  color: #999;
  font: normal normal 16px/18px "Roboto", sans-serif;
}

.empty_task {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.input {
  display: none;
}

.text::before {
  content: "";
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #356eff;
  top: 3px;
  margin-right: 10px;
}

input:checked ~ .text::before {
  background: #356eff;
}

.item {
  color: #000;
}

@media (max-width: 660px) {
  .title {
    font-size: 24px;
  }
}
