.header {
  height: 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.link {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal bold 16px/19px "Roboto", sans-serif;
  text-decoration: none;
  outline: none;
  height: 44px;
  width: 128px;
}

.link:hover {
  cursor: pointer;
  opacity: 0.8;
}

.active {
  color: #fff;
  background: #356eff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
}
